@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.4px;
    word-spacing: 0.8px;
    color: #000;
    background: #fff;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    min-width: 300px;
}

.header {
    padding: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 130%;
    letter-spacing: 0.8px;
    word-spacing: 3px;
}

.footer {
    text-align: center;
}

pre {
    background: #eee;
    padding: 1em;
}

.note {
    font-size: 80%;
}
