.Todo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 20px;
    padding-left: 20px;
}
.TodoDone {
    color: #999;
    text-decoration: line-through;
}
.Todo .checkbox {
    height: 20px;
    width: 20px;
    background: url(../img/undone.png) no-repeat center center;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.TodoDone .checkbox {
    background-image: url(../img/done.png);
}